{% extends 'layout/base.html'%} {% block module %}
<div class="inner-area">
    <div class="form-area">
        <form action="{{ url_for('update_shift', shift_id=shift._id) }}" method="POST" id="update-form">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mt-3 text-white form-label"><i class="fas fa-calendar-alt mr-2"></i>Day updating:
                        </h6>
                    </div>
                    <div class="col-md-6 mt-2">
                        {% for day in calendar %}
                        {% if day.shift_date == shift.shift_date %}
                        <input class="form-control text-center" id="date" name="shift_date" type="text"
                            value="{{day.shift_date}}" readonly>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mt-3 text-white form-label"><i class="fas fa-user-clock mr-2"></i>Edit emploee one:
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="mt-2 form-control" id="emploee_one" name="emploee_one">
                            <option value="{{shift.emploee_one}}" selected>{{shift.emploee_one}}</option>
                            {% for empl in emploee_1 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mt-3 text-white form-label"><i class="fas fa-user-clock mr-2"></i>Edit emploee two:
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="mt-2 form-control" id="emploee_two" name="emploee_two">
                            <option value="{{shift.emploee_two}}" selected>{{shift.emploee_two}}</option>
                            {% for empl in emploee_2 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mt-3 text-white form-label"><i class="fas fa-user-clock mr-2"></i>Select emploee
                            three: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="mt-2 form-control" id="emploee_three" name="emploee_three">
                            <option value="{{shift.emploee_three}}" selected>{{shift.emploee_three}}</option>
                            {% for empl in emploee_3 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mt-3 text-white form-label"><i class="fas fa-user-clock mr-2"></i>Edit emploee four:
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="mt-2 form-control" id="emploee_four" name="emploee_four">
                            <option value="{{shift.emploee_four}}" selected>{{shift.emploee_four}}</option>
                            {% for empl in emploee_4 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mt-3 text-white form-label"><i class="fas fa-user-clock mr-2"></i>Edit emploee five:
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="mt-2 form-control" id="emploee_five" name="emploee_five">
                            <option value="{{shift.emploee_five}}" selected>{{shift.emploee_five}}</option>
                            {% for empl in emploee_5 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col text-center">
                        <button class="btn btn-light d-inline" name="action" type="submit">Update Shift<div id="loading"
                                class="d-none"><img class="loading-img" src="{{url_for('static', filename='img/loading.gif')}}"
                                    alt="loading" /></div></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}