{% extends 'layout/base.html'%} {% block module -%}
<div class="row no-gutters d-none d-sm-flex p-1 bg-secondary text-white">
    <h6 class="col-sm pt-2 text-center">Monday</h6>
    <h6 class="col-sm pt-2 text-center">Tuesday</h6>
    <h6 class="col-sm pt-2 text-center">Wednesday</h6>
    <h6 class="col-sm pt-2 text-center">Thursday</h6>
    <h6 class="col-sm pt-2 text-center">Friday</h6>
    <h6 class="col-sm pt-2 text-center">Saturday</h6>
    <h6 class="col-sm pt-2 text-center">Sunday</h6>
</div>
<div class="row no-gutters border border-right-0 border-bottom-0">
    {% for shift in shifts -%}
    <!-- Calendar day {{shift.shift_date}} -->
    <div class="days col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <div class="row no-gutters">
            <div class="col-3 day-number mb-2">{{shift.shift_date}}</div>
            <div class="col-9 d-flex justify-content-end mb-2">
                <a href="{{url_for('edit_shift', shift_id=shift._id)}}"
                    data-title="Do you want to edit {{shift.shift_date}}th day shift?"
                    class="btn bttn btn-warning btn-sm" title="Edit shift" aria-label="edit shift">E</a>
                <a href="{{url_for('delete_shift', shift_id=shift._id)}}"
                    data-title="Do you want to delete all {{shift.shift_date}}th shift?"
                    class="btn bttn btn-danger btn-sm ml-1 text-white" title="Delete shift"
                    aria-label="delete shift">D</a>
            </div>
        </div>
        {% if shift.emploee_one == '' -%}
        <p class="sr-only">Empty</p>
        {% else %}
        <a class="d-block p-1 pl-4 pr-2 mb-1 rounded text-truncate small bg-info text-white emploee"
            title="{{shift.emploee_one}}">{{shift.emploee_one}}</a><a class="delete-emploee"
            title="Erase {{shift.emploee_one}}"
            data-title="Delete {{shift.emploee_one}} from {{shift.shift_date}}th day shift"
            href="{{url_for('delete_one', shift_id=shift._id, emploee_one=shift.emploee_one)}}"></a>
        {%- endif %}
        {% if shift.emploee_two == '' -%}
        <p class="sr-only">Empty</p>
        {% else %}
        <a class="d-block p-1 pl-4 pr-2 mb-1 rounded text-truncate small bg-info text-white emploee"
            title="{{shift.emploee_two}}">{{shift.emploee_two}}</a><a class="delete-emploee"
            title="Erase {{shift.emploee_two}}"
            data-title="Delete {{shift.emploee_two}} from {{shift.shift_date}}th day shift"
            href="{{url_for('delete_two', shift_id=shift._id, emploee_two=shift.emploee_two)}}"></a>
        {%- endif %}
        {% if shift.emploee_three == '' -%}
        <p class="sr-only">Empty</p>
        {% else %}
        <a class="d-block p-1 pl-4 pr-2 mb-1 rounded text-truncate small bg-info text-white emploee"
            title="{{shift.emploee_three}}">{{shift.emploee_three}}</a><a class="delete-emploee"
            title="Erase {{shift.emploee_three}}"
            data-title="Delete {{shift.emploee_three}} from {{shift.shift_date}}th day shift"
            href="{{url_for('delete_three', shift_id=shift._id, emploee_three=shift.emploee_three)}}"></a>
        {%- endif %}
        {% if shift.emploee_four == '' -%}
        <p class="sr-only">Empty</p>
        {% else %}
        <a class="d-block p-1 pl-4 pr-2 mb-1 rounded text-truncate small bg-info text-white emploee"
            title="{{shift.emploee_four}}">{{shift.emploee_four}}</a><a class="delete-emploee"
            title="Erase {{shift.emploee_four}}"
            data-title="Delete {{shift.emploee_four}} from {{shift.shift_date}}th day shift"
            href="{{url_for('delete_four', shift_id=shift._id, emploee_four=shift.emploee_four)}}"></a>
        {%- endif %}
        {% if shift.emploee_five == '' -%}
        <p class="sr-only">Empty</p>
        {% else %}
        <a class="d-block p-1 pl-4 pr-2 mb-1 rounded text-truncate small bg-info text-white emploee"
            title="{{shift.emploee_five}}">{{shift.emploee_five}}</a><a class="delete-emploee"
            title="Erase {{shift.emploee_five}}"
            data-title="Delete {{shift.emploee_five}} from {{shift.shift_date}}th day shift"
            href="{{url_for('delete_five', shift_id=shift._id, emploee_five=shift.emploee_five)}}"></a>
        {%- endif %}
    </div>
    {% if shift.shift_date % 7 == 0 -%}
    <div class="w-100"></div>
    {% endif %}
    {%- endfor %}
    {% for off in range(5) -%}
    <div
        class="days col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-off text-muted">
        <h5 class="row align-items-center">
            <span class="date col-1">{{loop.index}}</span>
            <small class="col d-sm-none text-center text-muted">Tuesday</small>
            <span class="col-1"></span>
        </h5>
    </div>
    {%- endfor %}
</div>
{%- endblock %}