@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700');
body {
    font-family: "Poppins", sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
}

.bg-calendar-header {
    background-color: #007bff;
}

.right-area {
    margin-top: 0;
}

.left-area {
    background-color: #007bff;
}

.days {
    min-height: 188px;
}

.bg-off {
    background-color: #f9f9f9;
}

.section-app {
    margin-bottom: 50px;
}

.left-menu {
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
}

.day-number {
    font-size: 20px;
    font-weight: 500;
}

.bttn {
    border-radius: 30%;
    opacity: 75%;
}

.inner-area {
    background-color: #2d90fa;
}

.form-area {
    padding: 30px;
}

#loading {
    margin-top: 20px;
} 

@media (min-width: 576px) {
    .left-menu {
        margin-top: 75px;
        margin-left: 120px;
        margin-right: 120px;
    }
    .bttn {
        border-radius: 50%;
    }
}

@media (min-width: 992px) {
    .left-menu {
        margin-top: 125px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .right-area {
        margin-top: 55px;
    }
    .bttn {
        border-radius: 30%;
    }
}