@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700');
body {
    font-family: "Poppins", sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
}

.bg-calendar-header, .inner-area, .left-area, .extl-area, .extr-area {
    background-color: #007bff;
}

.right-area {
    margin-top: 0;
}

.extl-area, .extr-area {
    width: 15px;
}

.days {
    min-height: 195px;
}

.bg-off {
    background-color: #f9f9f9;
}

.section-app {
    padding-bottom: 50px;
}

.left-menu {
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
}

.day-number {
    font-size: 20px;
    font-weight: 500;
}

.bttn {
    border-radius: 30%;
    opacity: 75%;
}

.emploee {
    position: relative;
}

.delete-emploee {
    position: absolute;
    height: 12px;
    width: 12px;
    margin-top: -24px;
    margin-left: 6px;
    background-color: #782b1e;
    border-radius: 50%;
    opacity: 85%;
}

.form-area {
    padding: 10px;
}

.form-label {
    text-align: center;
}

#loading {
    margin-top: 20px;
}

.card-area {
    background-color: #f3f3f3;
    margin: 10px;
    padding: 15px 10px;
    border: 1px solid #f3f3f3;
    box-shadow: 5px 5px 5px #b0b0b0;
}

.emploee-image {
    overflow: hidden;
}

.image {
    width: 100%;
}

.emploee-details {
    font-size: 12px;
    font-weight: 300;
}

.emploee-name {
    font-size: 18px;
}

.modal-dialog {
    margin-top: 15%;
}

.modal-content {
    background-color: #007bff;
    opacity: 90%;
}

.bg-footer {
    background-color: #007bff;
    color: #f9f9f9;
    padding: 30px 20px;
}

ul .list-inline {
    margin-bottom: 0;
}

li h6 {
    font-weight: 200;
}

li h6 i {
    font-size: 20px;
}

hr {
    padding-bottom: 20px;
    border: 0;
    border-top: 1px solid #f9f9f9;
}

@media (min-width: 576px) {
    .left-menu {
        margin-top: 75px;
        margin-left: 120px;
        margin-right: 120px;
    }
    .bttn {
        border-radius: 50%;
    }
    .form-area {
        padding: 10px 100px;
    }
    hr {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media (min-width: 768px) {
    .form-area {
        padding: 30px 100px;
    }
    .form-label {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .left-menu {
        margin-top: 125px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .right-area {
        margin-top: 55px;
    }
    .extl-area {
        width: 0px;
    }
    .bttn {
        border-radius: 30%;
    }
    .form-area {
        padding: 30px 200px;
    }
    hr {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 1200px) {
    .form-area {
        padding: 30px 300px;
    }
    hr {
        margin-left: 150px;
        margin-right: 150px;
    }
}