{% extends 'base.html'%} {% block module %}
<div class="inner-area">
    <div class="form-area">
        <form action="{{ url_for('update_shift', shift_id=shift._id) }}" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Select work day: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="date" name="shift_date">
                            {% for day in calendar %}
                            {% if day.shift_date == shift.shift_date %}
                            <option value="{{day.shift_date}}" selected>{{day.shift_date}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Select emploee one: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="emploee_one" name="emploee_one">
                            <option value="{{shift.emploee_one}}" selected>{{shift.emploee_one}}</option>
                            {% for empl in emploee_1 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Select emploee one: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="emploee_two" name="emploee_two">
                            <option value="{{shift.emploee_two}}" selected>{{shift.emploee_two}}</option>
                            {% for empl in emploee_2 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Select emploee one: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="emploee_three" name="emploee_three">
                            <option value="{{shift.emploee_three}}" selected>{{shift.emploee_three}}</option>
                            {% for empl in emploee_3 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Select emploee one: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="emploee_four" name="emploee_four">
                            <option value="{{shift.emploee_four}}" selected>{{shift.emploee_four}}</option>
                            {% for empl in emploee_4 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Select emploee one: </h6>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="emploee_five" name="emploee_five">
                            <option value="{{shift.emploee_five}}" selected>{{shift.emploee_five}}</option>
                            {% for empl in emploee_5 %}
                            <option value="{{empl.emploee_name}}">{{empl.emploee_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn btn-light" name="action" type="submit">Add Shift</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}