<div class="modal fade" id="add_emploee" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="{{url_for('insert_emploee')}}" method="POST">
                    <div class="form-row mt-3">
                        <div class="col">
                            <input type="text" class="form-control" name="emploee_name" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="emploee_surname" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col">
                            <select class="form-control" name="gender" id="gender" placeholder="Gender">
                                <option selected disabled>Gender</option>
                                <option>F</option>
                                <option>M</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="age" min="18" max="75" placeholder="Age">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="salary" placeholder="Salary">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="phone" minlength="11" maxlength="11" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col d-flex justify-content-end">
                            <button type="submit" class="btn btn-warning btn-sm" name="action"
                                title="Add Emaployee">ADD</button>
                            <button type="button" class="btn btn-danger btn-sm ml-2" data-dismiss="modal"
                                title="Cancel action">CANCEL</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>