<div class="row">
    <div class="col-5">
        <div class="emploee-image">
            {% if emploee.gender == 'M' %}
            <img class="image" src="{{url_for('static', filename='img/male.png')}}" alt="{{emploee.emploee_name}}">
            {% else %}
            <img class="image" src="{{url_for('static', filename='img/female.png')}}" alt="{{emploee.emploee_name}}">
            {% endif %}
        </div>
    </div>
    <div class="col-7">
        <h6 class="font-italic">Gender: {{emploee.gender}}</h6>
        <h6 class="font-italic">Age: {{emploee.age}}</h6>
        <h6 class="font-italic">Salary: £{{emploee.salary}}</h6>
        <h6 class="font-italic"><i class="fas fa-envelope"></i> {{emploee.email}}</h6>
        <h6 class="font-italic"><i class="fas fa-phone-square-alt"></i> {{emploee.phone}}</h6>
    </div>
</div>

<div class="row align-items-center mt-2">
    <div class="col-8">
        <h6 class="emploee-name font-weight-bold ml-2 mb-0">{{emploee.emploee_name}} {{emploee.emploee_surname}}</h6>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <a href="#m-{{emploee._id}}" type="button" data-toggle="modal" class="btn btn-warning btn-sm"
            title="Edit {{emploee.emploee_name}}"><i class="fas fa-user-edit"></i></a>
        {% include 'components/editform-emploee.html' %}
        <a href="" type="button" class="btn btn-danger btn-sm ml-2" title="Delete {{emploee.emploee_name}}"><i
                class="fas fa-user-minus"></i></a>
    </div>
</div>