<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Shifts Manager</title>
</head>

<body>
    <header>
        {% include 'layout/navbar.html' %}
    </header>

    <section class="container-fluid section-app p-0">
        <div class="row no-gutters">
            <div class="col-lg-2 left-area">
                <div class="left-menu">
                    <a type="button" class="btn btn-light btn-lg btn-block" href="{{url_for('get_shifts')}}">
                        <h6 class="m-0">View Calendar</h6>
                    </a>
                    <a type="button" class="btn btn-light btn-lg btn-block" href="#">
                        <h6 class="m-0">Add Emploee</h6>
                    </a>
                    <a type="button" class="btn btn-light btn-lg btn-block" href="#">
                        <h6 class="m-0">Manage Emploee</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row no-gutters">
                    <div class="col right-area">
                        <h4 class="pb-3 pt-4 m-0 bg-calendar-header text-center text-white">June 2020</h4>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="extl-area"></div>
                    <div class="col">
                        {% block module %} {% endblock %}
                    </div>
                    <div class="extr-area"></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        {% include 'layout/footer.html' %}
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>