<!-- Footer -->
{% block footer -%}
<div class="container-fluid bg-footer pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col text-center">
            <hr />
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h6><i class="fas fa-envelope"></i> office@care.uk</h6>
                </li>
                <li class="list-inline-item">
                    <h6><i class="fas fa-phone-square-alt"></i> 020 0000 0000</h6>
                </li>
                <li class="list-inline-item">
                    <h6><i class="fas fa-map-marker-alt"></i> 6th Neo Garden, TK3 PP6, London, UK</h6>
                </li>
            </ul>
        </div>
    </div>
</div>
{%- endblock %}